<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="python" arguments="streamlit run app.py" stdoutLogEnabled="true" stdoutLogFile="D:\home\LogFiles\log.txt" startupTimeLimit="60" />
  </system.webServer>
</configuration>
